/* write your css here */

.glow_star {
    box-shadow: rgba(239, 224, 21, 0.768) 0px 0px 60px 16px;
    border-radius: 100%;
}

.glow_gold {
    box-shadow: rgba(255, 215, 0, 0.61) 0px 0px 90px 18px;
    border-radius: 50%;
}

.glow_white {
    box-shadow: rgba(248, 248, 248, 0.61) 0px 0px 90px 18px;
    border-radius: 50%;
}

.glow_red {
    box-shadow: rgba(241, 20, 20, 0.61) 0px 0px 90px 18px;
    border-radius: 50%;
}

.glow_button {
    --tw-shadow: inset 0 2px 4px 0 rgb(139 57 237);
    --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #d86ddd), var(--tw-ring-shadow, 0 0 #d86ddd), var(--tw-shadow);
}

.glow_text {
    text-shadow: 2px 2px 5px rgb(249, 87, 87);
}

.glassmorphic {
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Snowflake {
	display: flex;
	width: 0.4%;
	color: #FFFAFA;
	opacity: 0;
	font-size: 120px;
	margin: 0;
	padding: 0;
	animation: fall 16s linear infinite;
}

@keyframes fall {
	0% {
		opacity: 0;
	}
	3% {
		opacity: 0.9;
	}

	90% {
		opacity: 0.9;
	}
	100% {
		transform: translate(0, 97vh);
		opacity: 0;
	}
}